.wrapper {
    display: flex;
    gap: 32px;
    /* width: 100%; */
    align-items: stretch;
}

.backlink {
    display: inline-block;
    padding: 12px 28px;
    min-width: 100px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
    color: inherit;
    will-change: transform;
    transition: transform 150ms ease-in;
}

.backlink:hover {
    transform: translateX(-18px);
}

.img {
    width: min(30%, 500px);
}

.img img {
    object-position: top left;
}

.description {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.title {
    font-size: 48px;
    margin-bottom: 24px;
}

.subtitle {
    margin-bottom: 12px;
}

.text {
    font-size: 20px;
    margin-bottom: 12px;
}

.linksblock {
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.links {
    display: flex;
    gap: 12px;
    overflow: hidden;
    width: 100%;
}

.link {
    border: 3px solid #ff9900;
    border-bottom: none;
    border-radius: 8px 8px 0 0;

    flex: 1 1 auto;
    /* ← позволяет кнопке сжиматься и расти */
    /* min-width: 0; */

    text-align: center;
    /* min-width: 120px; */
    max-width: 120px;
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
    color: inherit;
    will-change: transform;
    transition: transform 150ms ease-in;
    transform: translateY(10px);
}

.link:hover {
    transform: translateY(0);
}

.active {
    transform: translateY(0);
}

.out {
    border-top: 3px solid #ff9900;
}